<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2>本棚</h2>


      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th><div class="text-left">購入済み</div></th>
            <th><div class="text-left">値段</div></th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td>
              <div class="text-left">
                <% book_price = 0 %>
                <% order.ordered_items.each do |ordered_item| %>
                <%= ordered_item.book.name %><br>
                <% book_price += ordered_item.book.price * ordered_item.amount %>
                <% end %>
              </div>
            </td>
            <td><div class="text-left">
            <%= book_price.to_s(:delimited) %>円
            </div></td>
            <td><%= link_to '表示する', order_path(order.id), class: 'btn btn-primary' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

